<article class="article animated slideInDown">

    <div class="article-meta">
        <time class="article-date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <%= data.createDate %> <%= data.createTime %></time>

    </div>

    <div class="article-inner">
        <header class="article-header">
            <div class="article-header-content">
                <h1>
                    <% if(isConcrete){%>
                        <p class="article-title">
                            <%- data.title %>
                        </p>
                        <%}else{%>
                            <a class="article-title" href="/article?id=<%- data._id %>">
                                <%- data.title %>
                            </a>
                            <%}%>
                </h1>

                <p class="article-info">From:
                    <%- data.author %>
                </p>
            </div>
        </header>
        <div class="article-entry">
            <div class="iframe-area">
                <iframe src="<%- data.url %>" scrolling="no" frameborder="0" width="320" height="500"></iframe>
                <a class="btn btn-warning" href="<%- data.url %>" role="button" target="_blank">全屏打开</a>
            </div>


            <div class="markdown-body">
                <%- data.content %>
            </div>
        </div>
         <div class="article-info article-info-index">
            <div class="socialShare"></div>
                <div class="clearfix"></div>
        </div>
    </div>
</article>
<!--PC和WAP自适应版-->
<% if(isConcrete){%>
    <iframe id="cy-frame" name="cyFrame" width="100%" scrolling="no" frameborder="0" src="/comment?sid=<%- data._id %>"></iframe>
    <%}%>
        <div class="clearfix"></div>