
  <% games.map(function(game){%>

<article class="article animated slideInDown game-only-list article-game" >
  
    <div class="article-meta">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  	<time class="article-date"> <%= game.createDate %> <%= game.createTime %></time>

    </div>
  
  <div class="article-inner">
      <header class="article-header" style="background-image:url(<%= game.bgImg %>)" >
    <h1>
      <a class="article-title" href="/game/game?id=<%- game._id %>"><%- game.title %></a>
    </h1>
  <p class="article-info"><%- game.author %></p>
      </header>
    
   
  </div>
</article>



   <%});%> 
