<%- include('layouts/header',{styles:['index']}) %>


    <div class="col-md-12 content">
         <div class="col-md-3 information">
         <div class="col-md-12 ">
             <%- include('./components/infoSide') %>
         </div>
         <div class="col-md-12 game-list">
             <div class="list-top">
                <p><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>  最新游戏</p>             
             </div>
             <%- include('./components/game-list') %>
        </div>
         </div>
         <div class="col-md-9 col-md-offset-3 article-list">
             <div class="list-top">
                <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span>  最新文章</p>             
             </div>
            <% articles.map(function(article){%>
                <%- include('./components/article',{data:article,isConcrete:false}) %>
            <%});%> 
         </div>
    </div>
    <%- include('./components/scrollToTop') %>



<%- include('layouts/footer') %>
<script src="/js/index.bundle.js"></script>

