<%- include('layouts/header',{styles:['index']}) %>

 <%- include('./components/banner') %>
    <div class="col-md-10 col-md-offset-1 content animated fadeInUp">
         <div class="col-md-8">
            <%- include('./components/artList') %>
         </div>
         <div class="col-md-4">
            <%- include('./components/infoSide') %>
         </div>
    </div>



<%- include('layouts/footer') %>
<script src="/js/index.bundle.js"></script>

