<%- include('layouts/header',{styles:['content']}) %>
    <div class="col-md-12 col-md-offset content animated slideInDown">
        <ol class="breadcrumb">
            <li><a href="#" onClick="javascript:history.back(-1);">返回</a></li>
            <li class="active">
                <%- data.title %> - <%- data.description %></li>
        </ol>

        <%- include('./linkPage/'+data.url) %>

    </div>
    </div>
    <%- include('./components/scrollToTop') %>
        <%- include('layouts/footer') %>
            <script src="/js/content.bundle.js"></script>